body {
  font: 21px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}

#flights-wrapper{
  display: flex;
  flex-wrap: wrap;
  margin: 0 auto;
  width: 1200px;
}

.card {
  margin: 18px;
  background-color: azure;
  width: 450px;
  -webkit-box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29); 
box-shadow: 5px 5px 15px 5px rgba(0,0,0,0.29);
}

span {
  color:#3c88a6;
  
}

#create-wrapper {
  margin: 0 auto;
  width:500px;
}

.close-btn {
  position: absolute;
  top: 0;
  right:0;
  width: 26px;
  padding: 0;
  line-height: 19px;
}
